USE [master]
GO
/****** Object:  Database [BenhVien]    Script Date: 08-Aug-18 8:30:12 PM ******/
CREATE DATABASE [BenhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BenhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BenhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BenhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BenhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BenhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BenhVien]
GO
USE [BenhVien]
GO
/****** Object:  Table [dbo].[DanhSachBacSi]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBacSi](
	[MSBS] [nchar](7) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [nchar](3) NOT NULL,
	[NgaySinh] [nchar](20) NULL,
	[SDT] [nchar](12) NULL,
	[DiaCHi] [nvarchar](40) NULL,
	[Email] [nchar](30) NULL,
	[CMND] [nchar](30) NULL,
	[UserName] [nchar](20) NULL,
 CONSTRAINT [PK_DanhSachBacSi] PRIMARY KEY CLUSTERED 
(
	[MSBS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachNguoiBanThuoc]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachNguoiBanThuoc](
	[MSNV] [nchar](7) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [nchar](3) NOT NULL,
	[NgaySinh] [nchar](20) NULL,
	[SDT] [nchar](12) NULL,
	[DiaCHi] [nvarchar](40) NULL,
	[Email] [nchar](30) NULL,
	[CMND] [nchar](30) NULL,
	[UserName] [nchar](20) NULL,
 CONSTRAINT [PK_DanhSachNguoiBanThuoc] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachNguoiPhatSo]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachNguoiPhatSo](
	[MSNV] [nchar](7) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [nchar](3) NOT NULL,
	[NgaySinh] [nchar](20) NULL,
	[SDT] [nchar](12) NULL,
	[DiaCHi] [nvarchar](40) NULL,
	[Email] [nchar](30) NULL,
	[CMND] [nchar](30) NULL,
	[UserName] [nchar](20) NULL,
 CONSTRAINT [PK_DanhSachNguoiPhatSo] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachThuoc]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachThuoc](
	[MSThuoc] [nchar](7) NOT NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[Gia] [int] NULL,
	[XuatXu] [nchar](30) NULL,
 CONSTRAINT [PK_DanhSachThuoc] PRIMARY KEY CLUSTERED 
(
	[MSThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuoc]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuoc](
	[MSBN] [nchar](7) NOT NULL,
	[MSThuoc] [nchar](7) NOT NULL,
	[SoLuongThuocDung] [int] NULL,
 CONSTRAINT [PK_DonThuoc] PRIMARY KEY CLUSTERED 
(
	[MSBN] ASC,
	[MSThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoBenhNhan]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBenhNhan](
	[MSBN] [nchar](7) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[GioiTinh] [nchar](3) NOT NULL,
	[NgaySinh] [nchar](20) NOT NULL,
	[SDT] [nchar](12) NOT NULL,
	[MSBS] [nchar](7) NULL,
	[NgayKham] [nchar](20) NULL,
	[KetQuaKhamBenh] [nvarchar](1024) NULL,
	[SoLanKham] [int] NOT NULL,
	[DiaCHi] [nvarchar](50) NOT NULL,
	[TrangThai] [nchar](20) NOT NULL,
 CONSTRAINT [PK_HoSoBenhNhan] PRIMARY KEY CLUSTERED 
(
	[MSBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanDangNhap]    Script Date: 08-Aug-18 8:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanDangNhap](
	[User_Name] [nchar](20) NOT NULL,
	[Pass_Word] [nchar](20) NOT NULL,
	[LoaiTK] [nchar](10) NOT NULL,
	[TrangThai] [nchar](10) NOT NULL,
 CONSTRAINT [PK__TaiKhoan__681E8A61AD88DF33] PRIMARY KEY CLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TenThuoc]    Script Date: 08-Aug-18 8:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IDX_TenThuoc] ON [dbo].[DanhSachThuoc]
(
	[TenThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_MSBN]  DEFAULT (NULL) FOR [MSBN]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_Ten]  DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_GioiTinh]  DEFAULT (NULL) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_NgaySinh]  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_SDT]  DEFAULT (NULL) FOR [SDT]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_MSBS]  DEFAULT (NULL) FOR [MSBS]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_NgayKham]  DEFAULT (NULL) FOR [NgayKham]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF_HoSoBenhNhan_KetQuaKhamBenh]  DEFAULT (NULL) FOR [KetQuaKhamBenh]
GO
ALTER TABLE [dbo].[HoSoBenhNhan] ADD  CONSTRAINT [DF__HoSoBenhN__SoLan__6EF57B66]  DEFAULT ((0)) FOR [SoLanKham]
GO
ALTER TABLE [dbo].[DanhSachBacSi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachBacSi_TaiKhoanDangNhap] FOREIGN KEY([UserName])
REFERENCES [dbo].[TaiKhoanDangNhap] ([User_Name])
GO
ALTER TABLE [dbo].[DanhSachBacSi] CHECK CONSTRAINT [FK_DanhSachBacSi_TaiKhoanDangNhap]
GO
ALTER TABLE [dbo].[DanhSachNguoiBanThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachNguoiBanThuoc_TaiKhoanDangNhap] FOREIGN KEY([UserName])
REFERENCES [dbo].[TaiKhoanDangNhap] ([User_Name])
GO
ALTER TABLE [dbo].[DanhSachNguoiBanThuoc] CHECK CONSTRAINT [FK_DanhSachNguoiBanThuoc_TaiKhoanDangNhap]
GO
ALTER TABLE [dbo].[DanhSachNguoiPhatSo]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachNguoiPhatSo_TaiKhoanDangNhap] FOREIGN KEY([UserName])
REFERENCES [dbo].[TaiKhoanDangNhap] ([User_Name])
GO
ALTER TABLE [dbo].[DanhSachNguoiPhatSo] CHECK CONSTRAINT [FK_DanhSachNguoiPhatSo_TaiKhoanDangNhap]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_DanhSachThuoc] FOREIGN KEY([MSThuoc])
REFERENCES [dbo].[DanhSachThuoc] ([MSThuoc])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_DanhSachThuoc]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_HoSoBenhNhan] FOREIGN KEY([MSBN])
REFERENCES [dbo].[HoSoBenhNhan] ([MSBN])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_HoSoBenhNhan]
GO
ALTER TABLE [dbo].[HoSoBenhNhan]  WITH CHECK ADD  CONSTRAINT [fk_HoSoBenhNhan_DanhSachBacSi] FOREIGN KEY([MSBS])
REFERENCES [dbo].[DanhSachBacSi] ([MSBS])
GO
ALTER TABLE [dbo].[HoSoBenhNhan] CHECK CONSTRAINT [fk_HoSoBenhNhan_DanhSachBacSi]
GO
ALTER TABLE [dbo].[TaiKhoanDangNhap]  WITH CHECK ADD  CONSTRAINT [Check_LoaiTK] CHECK  (([TaiKhoanDangNhap].[LoaiTK]='Ban Thuoc' OR [TaiKhoanDangNhap].[LoaiTK]='Bac Si' OR [TaiKhoanDangNhap].[LoaiTK]='Phat So'))
GO
ALTER TABLE [dbo].[TaiKhoanDangNhap] CHECK CONSTRAINT [Check_LoaiTK]
GO
USE [master]
GO
